/.bundle/
/doc/
/log/
/log/*.log
/pkg/
/tmp/
/tmp/pids/
/tmp/pids/*.pid
*.pid
server.pid
/db/*.sqlite3
/db/*.sqlite3-*
/storage/*.sqlite3
/storage/*.sqlite3-*
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/storage/*.sqlite3
/spec/dummy/storage/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/log/
/spec/dummy/storage/
/spec/dummy/tmp/
/spec/dummy/tmp/pids/
/spec/dummy/tmp/pids/*.pid
