require "test_helper"

<% module_namespacing do -%>
class <%= class_name %>RuleTest < ActiveSupport::TestCase
  setup do
    @promotion = Promotable::Promotion.create!(name: "Test", active: true)
    @rule = <%= class_name %>Rule.create!(promotion: @promotion, preferences: {<%= parsed_preferences.map { |p| "#{p[:name]}: nil" }.join(", ") %>})
  end

  test "eligible? returns true when criteria is met" do
    skip "implement test"
  end

  test "eligible? returns false when criteria is not met" do
    skip "implement test"
  end
end
<% end -%>
