require "test_helper"

<% module_namespacing do -%>
class <%= class_name %>ActionTest < ActiveSupport::TestCase
  setup do
    @promotion = Promotable::Promotion.create!(name: "Test", active: true)
    @action = <%= class_name %>Action.create!(promotion: @promotion, preferences: {<%= parsed_preferences.map { |p| "#{p[:name]}: nil" }.join(", ") %>})
  end

  test "compute_amount returns the correct discount" do
    skip "implement test"
  end

  test "apply creates an adjustment" do
    skip "implement test"
  end
end
<% end -%>
